@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Inter:wght@400;700&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

html{
  scroll-behavior:smooth;
}

header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15)),
  url("../images/mountain-ridge-with-erosion-in-foreground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  z-index: 3;
  position: fixed;
  height: 11vh;
  width: 100%;
  background: #3A5A40;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

nav .logo {
  width: 25%;
  text-align: center;
  /*background: red;*/
}

nav .menu {
  text-shadow: 1px 1px 2px black;
  font-size:1.4rem;
  width: 50%;
  display: flex;
  justify-content:space-between;

}

nav .menu a {
  width: 35%;
  text-decoration: none;
  color: white;
  font-weight:bolder;
  transition: all 0.6s ease;
}

nav .menu a:hover {
  color: #db9545;
  text-decoration: solid;
  
}

main {
  width: 100%;
  height: 100vh;               /*view km krna h */
  display: flex;
  justify-content: start;
  align-items: start;
  text-align: center;
  color: white;
}
section{
  margin-top: 190px;
}
main img{
  margin-left: 130px;
  margin-top: 70px;
  border-radius: 30px;
  
  /* background-color:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15)) ; */
  filter: brightness(65%);
  filter: contrast(70%);
}

section h3 {

  font-size: 35px;
  font-weight: 200;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px black;
}

section h1 {
  margin: 30px 0 20px 40px;
  font-size: 55px;
  font-weight: 700;
  text-shadow: 2px 1px 5px black;
  text-transform: uppercase;
}

section p {
  font-size: 25px;
  word-spacing: 2px;
  margin-bottom: 25px;
  text-shadow: 1px 1px 1px black;
}

section a {
  padding: 12px 30px;
  margin-bottom: 30px;
  border-radius: 11px;
  outline: none;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.5s ease;
}


section h4{
  margin-top: 50px;
  font-weight: 100;
  font-size: 22px;
  margin-left: 20px;
  text-shadow: 1px 1px 2px black;
  font-family: 'Dosis', sans-serif;
}
section .btnone {
  /*background: #00b894;*/
  background: #fff;
  color: #000;
}

.btnone:hover {
  background:#3A5A40 ;
  color: white;
}




.intro{
  display: flex;
  justify-content: space-between;
  align-items:center ;
  margin: 30px 30px 30px 0px;
  /* gap: 20px; */
}

.dsc{
  text-align: center;
  background-image:url(../images/desc-img.png);
  background-repeat: no-repeat;
  background-size:290%;
  background-position:center;
  border-radius: 30px;
}

.dsc h1{
  font-size: 5rem;
  margin-bottom: 10%;
}

.dsc p{
  font-size: 1.7rem;
  color: floralwhite;
  text-shadow: 2px 1px 5px black;
}

#caause{
  padding: 110px 0px 30px;
}

#controle{
  padding:30px 0px 30px ;
}


.bigdesc{
  /* padding: 20px 0px 20px; */

  margin: 10px 20px 0px 20px;
  margin-top: 110px;
  border-radius: 41px;
  border-top-left-radius:0px ;
  align-items: center;
  transition: all 1s ease;
}

.bigdesc:hover{
  transform: scale(1.02);
  box-shadow: -7px 7px 9px 2px lightgray;
} 

 

.detail{
  display: flex;
}

.feature-img img{
 width:750px  ;
 margin-left: -124px;
}

.feature-desc{
  width: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
}

.feature-desc h1{
  font-size: 5rem;
  margin-bottom: 1%;
}

.feature-desc p{
  padding: auto;
  font-size: 1.7rem;
  color: black;
  text-shadow: 2px 1px 1 1px gray;

}

.feature-desc a{
  padding: 12px 30px;
  margin-bottom: 30px;
  color: whitesmoke;
  border-radius: 11px;
  width: 300px;
  outline: none;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 900;
  text-decoration: none;
  letter-spacing: 2px;
  transition: all 01.5s ease;
  background-color: #c6ac8f;
}

.feature-desc a:hover{
  transform: scale(1.1);
}

.mid-det:hover{
  box-shadow: 7px 7px 9px 2px lightgray;
}

/* .mid-det .detail .feature-img{
  border-radius:90px;
} */

.mid-det .detail .feature-img img{
  margin-left: 0px;
  margin-bottom: 32px;

}

.last{
  width:40%;
  margin-left: 150px;
}

.last img{
  width: 110%;
}


/*--------------------sub footer-----------*/
.sub-footer{
  margin-top: 100px;
}

.subfot{
  display: flex;
}
.quot{
  padding:5%;
}

.quot p{
  font-size: 3rem;
  margin-bottom: 0px;
}

.writer{
  font-size: 2rem;
  color: darkgray;
}


/*-----------comment-------------*/
.comment{
  width:100%;
  
  margin-right: 10%;
  margin-top: 140px;
  display: flex;
  

}

.form{
  margin-left: 15%;
  margin-right: 2%;
  width: 100%;
  display: flex;
  flex-direction: column;
}


.form h1{
  text-align: center;
  margin-bottom: 40px;
}

.comment label{
  font-size:2.6rem;
  color: rgb(73, 73, 73);
  font-weight: 400;
}
.comment input{
  width: 100%;
  height: 60px;
  padding:3px 20px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border:1px solid #86b0b6;
}

.comment input:focus{
  border: 3px solid gray;
  outline: 0;
}

.comment textarea{
  width: 100%;
  height: 190px;
  padding: 9px 20px;
  font-size: 20px;  
  margin-top: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border:1px solid #86b0b6;

}

.comment textarea:focus{
  border: 3px solid gray;
  outline: 0;
}

.comment button{
  width: 100%;
  height: 50px;
  border:0px;
  padding:10px 30px;
  background:#c6ac8f;
  font-size: 30px;
  border-radius: 5px;
  color:whitesmoke;
}

.comment button:hover{
  transition: all ;
  background-color:#3A5A40;
  color: white;
  transition: all 2s ease;
}






footer{
  margin-top: 30px;
  bottom: 0px;
  width: 100%;
  background: #3A5A40;
}
.main-content{
  display: flex;
  font-size: 1.6rem;
  margin: 80px 28px 30px;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
  color: #d9d9d9;
}
.box h2{
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #c6ac8f;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #3A5A40;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 2s;

  color: #d9d9d9;
}
.left .content .social a span:hover{
  background: #c6ac8f;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #3A5A40;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 2s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #c6ac8f;
}
.center .content .text{
  
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.625rem;
  margin-bottom: 2px;
  color: whitesmoke;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background:#5e7963;
;
;
  padding-left: 10px;
  border-radius:9px;
border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  background-color:#998773;
  border:2px solid grey;
  outline-color: #3498db; 
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #3A5A40;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 2s;
  border-radius:9px;
  color: #d9d9d9;
}
.right form .btn button:hover{
  background: #998773;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #3A5A40;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}





.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background: #27ae60;
  bottom: 20px;
  left: 20px;
  border-radius: 25px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}


